<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bubbleChk.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="application/javascript">
        //<![CDATA[
        $(document).ready(function () {
            //set initial state.
            //TODO GET TIME LEFT VIA EJS
            $('#bubbleCheckBox1').val(false);
        });

        function bubbleClick(id) {
            console.log("cliiicked");

            let ele = document.getElementById(id);
            let checked = ele.checked;

            let password = document.getElementById("password").value;            

            let time = document.getElementById("Timerange").value;
            console.log(`checked ${checked}`);

            let res = postDataToServer({ "isOn": checked, "password": password, "durrationInMs": time * 1_000 }, "/update");
        }

        const source = new EventSource('/events');

        source.addEventListener('message', message => {
            // console.log('Got', message);
            // console.log(message.data);
            let dataObj = JSON.parse(message.data);
            // Display the event data in the `content` div
            document.querySelector('#bubbleCheckBox1').checked = dataObj.isOn;

            document.querySelector('#content-1').innerHTML = dataObj.connectionHeartbeat;

            document.querySelector('#content-2').innerHTML = JSON.stringify(dataObj);
        });

        async function postDataToServer(data = {}, url = "/update",) {
            const response = await fetch(url, {
                method: "POST", // *GET, POST, PUT, DELETE, etc.
                mode: "cors", // no-cors, *cors, same-origin
                cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                credentials: "same-origin", // include, *same-origin, omit
                headers: {
                    "Content-Type": "application/json",
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: "follow", // manual, *follow, error
                referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                body: JSON.stringify(data), // body data type must match "Content-Type" header
            });
            // return response.json(); // parses JSON response into native JavaScript objects
        }
        //]]>

    </script>
</head>

<body>
    <%- include ('header.ejs') %>


        <div>
            <form action="#" method="get">
                <label for="user">User:</label><br/>
                <input type="text" id="user" name="user" value="user"><br/>
                <label for="pass">Password</label><br/>
                <input type="password" id="password" name="pass" value="">
                
                <button type="submit">submit (to save pass)</button>

                <br/>
                <br/>
                <label id="labelForTimerange" for="Timerange">Timer</label><br/>
                <input id="Timerange" type="range" min="0.5" max="10" step="0.5"></input>
            </form>
        </div>
        <br><br>
        <div id="bubble-div" class="bub">
            <label class="bub bubble-label">
                <input class="bub bubble" id="bubbleCheckBox1" type="checkbox" name="bubbleOn" value="off"
                    onclick="bubbleClick(this.id)">
            </label>
        </div>

        <div id="content-1"></div>
        <div id="content-2"></div>

        <!-- <a href="#" class="btn btn-bubble">Bubble Button</a> -->


</body>